* {
	font-family: 'Poppins', sans-serif;
}

/* DISEÑO MOBILE FIRST: */

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header, .main, .aside, .footer {
	padding: 20px;
}

.header {
	background: #a22;
	flex-basis: 60px; /* define el tamaño del item, en este caso el main-axis es vertical, por lo que flex-basis es un height */
}

.main {
	background: #a70;
	flex-basis: 400px;
	flex-grow: 2; /* flex-grow define, entre el espacio vacío que sobre, que proporción de ese espacio ocupará cada ítem */
	flex-shrink: 0; /* flex-shrink define la proporción en que este ítem debe encogerse cuando no haya suficiente espacio */
}

.aside {
	background: #bb0;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 0;
}

.footer {
	background: #f33;
	flex-grow: 1;
}

/* ADAPTACIÓN PARA ESCRITORIOS: */

@media screen and (min-width: 700px) {
	.content {
		flex-direction: row;
		flex-wrap: wrap; /* esta propiedad con este valor indica que los ítems pueden posicionarse una línea más abajo */
	}

	.main, .aside {
		height: 640px;
	}

	.main {
		flex-grow: 4;
	}

	.aside {
		flex-grow: 1;
	}

	.header {
		flex-basis: 100%; /* ahora el main-axis es horizontal, y el flex-basis: 100%; aplica a ocupar el 100% del ANCHO */
		max-height: 60px;
	}

	.footer {
		flex-basis: 100%;
	}
}