div {
	position: relative;
	display: inline-block;
	margin: 10px;
	height: 200px;
	width: 200px;
	border: 4px solid red;
}

div h3 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	background-color: black;
	color: white;
}

.colorname-section {
	background-color: red;
}

/* hexadecimal: se da un valor hexadecimal (de 0 a f) para el RED, GREEN y BLUE que componen al color. Se comienza con # */
.hexadecimal-section {
	background-color: #f00;
}

/* rgb: se usa 1 byte (de 0 a 255) para definir la intensidad del RED, GREEN, BLUE que componen al color. El formato es rgb() */
.rgb-section {
	background-color: rgb(255, 0, 0);
	opacity: .5; /* puedo sumar la propiedad opacity para definir la transparencia del color (del 0 al 1) */
}

/* rgba: es como el rgb pero agrega un cuarto parámetro, llamado alpha, que define la opacidad (va de 0 a 1) */
.rgba-section {
	background-color: rgba(255, 0, 0, .5);
}